option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.production
    DJANGO_ALLOWED_HOSTS: ".elasticbeanstalk.com,consulwealth.com,*.consulwealth.com"
    DJANGO_DEBUG: "False"
    DATABASE_URL: "sqlite:////tmp/db.sqlite3"
    DJANGO_SKIP_MIGRATIONS: "True"
    PYTHONPATH: "/var/app/current"
    DJANGO_LOG_LEVEL: "INFO"
    STATIC_URL: "/static/"
    STATIC_ROOT: "/var/app/current/staticfiles"
    TZ: "America/New_York" 