container_commands:
  01_install_supabase:
    command: "source /var/app/venv/*/bin/activate && pip install supabase>=2.3.1"
  02_install_stripe:
    command: "source /var/app/venv/*/bin/activate && pip install stripe==7.12.0"
  03_disable_migrations:
    command: "mkdir -p /tmp/django_migrations && touch /tmp/django_migrations/__init__.py"
  04_list_packages:
    command: "source /var/app/venv/*/bin/activate && pip list" 