files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
      WSGIPassAuthorization On
      WSGIRestrictStdout Off
      
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/app-django.log
      /var/log/eb-staticfiles.log
      /var/log/eb-db-setup.log

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      
      # Log file
      LOGFILE="/var/log/eb-delayed-jobs.log"
      
      echo "Running application health check script..." > $LOGFILE
      
      # Wait for application to be fully deployed
      sleep 10
      
      # Check if application is responding
      curl -s http://localhost/ > /dev/null
      if [ $? -eq 0 ]; then
        echo "Application is running!" >> $LOGFILE
      else
        echo "Application is not responding properly" >> $LOGFILE
      fi 