# This file is superseded by 13_simplified_fixes.config
# Leave this file in place to avoid deployment issues but disable its functionality.

# Django settings override
files:
  # Disabled to avoid conflicts
  # "/var/app/current/static_settings_fix.py":
  #   mode: "000755"
  #   owner: root
  #   group: root
  #   content: |
  #     """
  #     This module is disabled in favor of the simplified approach in 13_simplified_fixes.config
  #     """
  
  # "/tmp/patch_wsgi.py":
  #   mode: "000755"
  #   owner: root
  #   group: root
  #   content: |
  #     #!/usr/bin/env python3
  #     """
  #     This script is disabled in favor of the simplified approach in 13_simplified_fixes.config
  #     """

container_commands:
  # Disabled to avoid conflicts
  # 01_patch_wsgi:
  #   command: "echo 'This command has been disabled in favor of the simplified fixes in 13_simplified_fixes.config'" 