container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py collectstatic --noinput"
    ignoreErrors: true
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application 